[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
websockets = "*"
pandas = "*"
mysql-connector = "*"
requests = "*"
pycodestyle = "*"
dotenv = "*"

[requires]
python_version = "3.7.4"
